<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RocketLauncher_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RocketLauncher_GUI.Properties.Settings>
            <setting name="AutoLoadMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Workshop_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Cooked_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Map_Index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaVersion" serializeAs="String">
                <value>2017-10-06</value>
            </setting>
            <setting name="ReleaseVersion" serializeAs="String">
                <value>2017-10-06</value>
            </setting>
            <setting name="NoNotifyUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </RocketLauncher_GUI.Properties.Settings>
    </userSettings>
</configuration>